# #test 1
#### Find path

In [2]:
import os
# get current working directory
cwd = os.getcwd()

In [3]:
folder = 'Meta_coding_puzzle'
abs_path = os.path.join(cwd, folder)

In [4]:
abs_path

'C:\\Users\\stell\\JobHunting\\Song\\Meta_coding_puzzle'

In [11]:
# check if the path exists
os.path.exists(abs_path)

False

In [13]:
# the path is not existing in the same folder as this jupyter notebook file
# construct the correct folder path like below
os.path.join('C:\\Users\\stell\\JobHunting\\Python_exercise', folder)

'C:\\Users\\stell\\JobHunting\\Python_exercise\\Meta_coding_puzzle'

In [17]:
import os
import glob
# check if the path works
# root_path = os.path.join('C:\\Users\\stell\\JobHunting\\Python_exercise', folder)
root_path = 'C:\\Users\\stell\\JobHunting\\Python_exercise'
loopNo = 0
for root, dirs, files in os.walk(root_path):
    loopNo += 1
    files_path = glob.glob(os.path.join(root,'*'))
    if loopNo > 2: break
    print('loop No.', loopNo)
    #print('root:', root)
    #print('subdirectory', dirs)
    #print('files', files)
    # print(files_path)
    #for i in files_path:
    #    print(i)

loop No. 1
loop No. 2

In [ ]:
folder = 'Song\\json_data'

# #test2
### load json file to dataframe

### test song file

In [19]:
root_path = 'C:\\Users\\stell\\JobHunting\\Song\\json_data'
files = glob.glob(os.path.join(root_path, '*.json'))
print(files)

['C:\\Users\\stell\\JobHunting\\Song\\json_data\\2018-11-01-events (1).json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\2018-11-02-events (2).json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\2018-11-03-events.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAAAAW128F429D538.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAAABD128F429CF47.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAAADZ128F9348C2E.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAAAEF128F4273421.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAAAFD128F92F423A.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAAAMO128F1481E7F.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAAAMQ128F1460CD3.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAAAPK128E0786D96.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAAARJ128F9320760.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAAAVG12903CFA543.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAABCL128F4286650.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAABDL12903CAABBA.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAABJL12903CDCF1A.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAABJV128F1460C49.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAABLR128F423B7E3.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAABNV128F425CEE1.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAABRB128F9306DD5.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAABVM128F92CA9DC.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAABXG128F9318EBD.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAABYN12903CFD305.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAACCG128F92E8A55.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAACER128F4290F96.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAACFV128F935E50B.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAACHN128F1489601.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAACIW12903CC0F6D.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAACLV128F427E123.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAACNS128F14A2DF5.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAACOW128F933E35F.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAACPE128F421C1B9.json', 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\TRAACQT128F9331780.json']

In [24]:
import pandas as pd
import os
import glob
root_path = 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\songs'
files = glob.glob(os.path.join(root_path, '*.json'))
test_song_file = files[0]

In [25]:
test_song_file

'C:\\Users\\stell\\JobHunting\\Song\\json_data\\songs\\TRAAAAW128F429D538.json'

In [30]:
test_song_df = pd.DataFrame([pd.read_json(test_song_file, typ = 'series', convert_dates = False)])

In [31]:
test_song_df

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,ARD7TVE1187B99BFB1,None,None,California - LA,Casual,SOMZWCG12A8C13C480,I Didn't Mean To,218.93179,0

In [34]:
loop = 0
for value in test_song_series.values:
    loop += 1
    print('loop No.',loop)
    print(value)

loop No. 1
[1 'ARD7TVE1187B99BFB1' None None 'California - LA' 'Casual'
 'SOMZWCG12A8C13C480' "I Didn't Mean To" 218.93179 0]

### test log files

In [1]:
import pandas as pd
import os
import glob
root_path = 'C:\\Users\\stell\\JobHunting\\Song\\json_data\\logs'
files = glob.glob(os.path.join(root_path, '*.json'))
test_log_file = files[0]

In [2]:
test_log_df = pd.read_json(test_log_file, lines = True)

In [3]:
test_log_df[:2]

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1540919166796,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39
1,None,Logged In,Kaylee,F,0,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1540344794796,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

In [6]:

for i, row in test_log_df[:5].iterrows():
    print('loop', i)
    print(row['song'])

loop 0
None
loop 1
None
loop 2
You Gotta Be
loop 3
None
loop 4
Flat 55

In [7]:
import numpy as np

In [26]:
df = test_log_df[test_log_df['page'] == 'NextSong'].astype({'ts': 'datetime64[ms]'})

df[:5]

In [15]:
t = pd.Series(df['ts'], index = df.index)

In [16]:
t

2    2018-11-01 21:01:46.796
4    2018-11-01 21:05:52.796
5    2018-11-01 21:08:16.796
6    2018-11-01 21:11:13.796
7    2018-11-01 21:17:33.796
8    2018-11-01 21:24:53.796
9    2018-11-01 21:28:54.796
10   2018-11-01 21:42:00.796
12   2018-11-01 21:52:05.796
13   2018-11-01 21:55:25.796
14   2018-11-01 22:23:14.796
Name: ts, dtype: datetime64[ms]

In [22]:
data_time = []
column_labels = ["timestamp", "hour", "day", "weekofyear", "month", "year", "weekday"]
for i in t:
    data_time.append([i, i.hour, i.day, i.weekofyear, i.month, i.year, i.day_name()])

In [23]:
data_time

[[Timestamp('2018-11-01 21:01:46.796000'), 21, 1, 44, 11, 2018, 'Thursday'],
 [Timestamp('2018-11-01 21:05:52.796000'), 21, 1, 44, 11, 2018, 'Thursday'],
 [Timestamp('2018-11-01 21:08:16.796000'), 21, 1, 44, 11, 2018, 'Thursday'],
 [Timestamp('2018-11-01 21:11:13.796000'), 21, 1, 44, 11, 2018, 'Thursday'],
 [Timestamp('2018-11-01 21:17:33.796000'), 21, 1, 44, 11, 2018, 'Thursday'],
 [Timestamp('2018-11-01 21:24:53.796000'), 21, 1, 44, 11, 2018, 'Thursday'],
 [Timestamp('2018-11-01 21:28:54.796000'), 21, 1, 44, 11, 2018, 'Thursday'],
 [Timestamp('2018-11-01 21:42:00.796000'), 21, 1, 44, 11, 2018, 'Thursday'],
 [Timestamp('2018-11-01 21:52:05.796000'), 21, 1, 44, 11, 2018, 'Thursday'],
 [Timestamp('2018-11-01 21:55:25.796000'), 21, 1, 44, 11, 2018, 'Thursday'],
 [Timestamp('2018-11-01 22:23:14.796000'), 22, 1, 44, 11, 2018, 'Thursday']]

In [24]:
time_df = pd.DataFrame.from_records(data_time, columns = column_labels)

In [25]:
time_df

                 timestamp  hour  day  weekofyear  month  year   weekday
0  2018-11-01 21:01:46.796    21    1          44     11  2018  Thursday
1  2018-11-01 21:05:52.796    21    1          44     11  2018  Thursday
2  2018-11-01 21:08:16.796    21    1          44     11  2018  Thursday
3  2018-11-01 21:11:13.796    21    1          44     11  2018  Thursday
4  2018-11-01 21:17:33.796    21    1          44     11  2018  Thursday
5  2018-11-01 21:24:53.796    21    1          44     11  2018  Thursday
6  2018-11-01 21:28:54.796    21    1          44     11  2018  Thursday
7  2018-11-01 21:42:00.796    21    1          44     11  2018  Thursday
8  2018-11-01 21:52:05.796    21    1          44     11  2018  Thursday
9  2018-11-01 21:55:25.796    21    1          44     11  2018  Thursday
10 2018-11-01 22:23:14.796    22    1          44     11  2018  Thursday